#header {
    color:black;
    border: 5px;
    border-style: inset;
    background-color: aquamarine;
    border-color: aqua;
    text-align: center;
}

#header:hover {
    color: green;
    border: 5px;
    border-style: outset;
    background-color: lightgoldenrodyellow;
    border-color: forestgreen;
    text-align: center;
}